/* xs = Extra small <576px
Max container width None (auto)

sm = Small ≥576px
Max container width 540px

md = Medium ≥768px
Max container width 720px

lg = Large ≥992px
Max container width 960px

xl = Extra large ≥1200px
Max container width 1140px */


@font-face {
    font-family: 'advent_proregular';
    src: url('../font/adventpro-regular-webfont.woff2') format('woff2'),
        url('../font/adventpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {

    /* background-image: url(/img/gnu-debian-linux-logo-wallpaper.jpg); */
    color: rgb(218, 200, 173);
    font-family: 'advent_proregular', sans-serif;
    font-size: 18px;
    background-color: rgb(53, 51, 48);
    margin: 0px;
    padding: 0px;
    zoom: 70%;
}

/*bar de navigation  */
.nave_bar {
    top: 40px;
    left: 0;
    width: 100%;
    padding: 40px;
    font-size: 26px;
    background-color: rgb(53, 51, 48) ;
    box-shadow: 16px 15px 37px 12px  rgba(139, 98, 98, 0.15); 

}

ul {

    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.logo {
    width: 300px;
    display: flex;
    justify-items: center;
    justify-content: space-around;

}

.liens_nav {

    display: flex;
    justify-content: space-between;
    width: 700px;
    transition: transform 0.2s;

}

li {
    transition: transform 0.2s ease;

}

li a {
    text-decoration: none;
    list-style: none;
    color: rgb(218, 200, 173);
}

li:hover {

    transform: scale(1.1);
    text-shadow: 2px 2px 2px 2px rgb(51, 48, 48);
    color: rgb(241, 231, 233);
    text-decoration: none;

}
li a:hover {

    background-color:rgb(218, 200, 173);
    color : rgb(53, 51, 48);
}


/* ========================================================================== */
/* Menu deroulant debut */
/* ========================================================================== */

.sub {


    display: none;
}

.section_doite>ul::after {


    content: "";
    display: block;
    clear: both;

}

li:hover .sub {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 0px;
    z-index: 1000;
    text-shadow: 2px 2px 2px 2px rgb(51, 48, 48);
    font-size: 18px;

}

.sub li a:hover {

    background-color:rgb(218, 200, 173);
    color : rgb(53, 51, 48);

}


/* ========================================================================== */
/* menu deroulant fin */
/* ========================================================================== */
/* ========================================================================== */
/*  */
/* ========================================================================== */




.bando {
    
    background-color: rgba(139, 98, 98, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    position: sticky; 
    z-index: 100;
    top: 0px;

}

.aside {


    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 30px;


}

.aside a {
    margin-right: 200px;
    padding: 10px;
    display: inline;
    text-decoration: none;
    list-style: none;
    color: rgb(218, 200, 173);




}

.aside a:hover {


    text-shadow: 1px 1px 1px 1px darkgray;
    color: rgb(241, 231, 233);
    background-color: rgba(139, 98, 98, 0.15);

}


.elem1 {
    width: 350px;
    grid-area: elem1;

}

.elem1 img {
    padding: 10px;
    width: 100%;
}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-area: footer;
    height: 60px;

}

.footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(218, 200, 173);
    border: solid 4px rgba(139, 98, 98, 0.15);
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    height: 50%;
    font-weight: bold;
}

.footer a:hover{

    text-decoration: none;
    color: rgb(139, 98, 98);
    border: solid 4px rgba(139, 98, 98, 0.15);
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    background-color:  rgb(218, 200, 173);
    font-weight: bold;
}

/* les vignettes bulles premiere colonne */
/* les vignettes bulles premiere colonne */
/* les vignettes bulles premiere colonne */

.bule11 {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;

}

.bule11 p {

    margin: 0px 20px;

}

.bule11 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule11:hover {

    box-shadow: 15px 15px 15px 15px rgba(37, 36, 36, 0.5);

}

.elem2 {
    width: 350px;
    grid-area: elem2;
}


.elem2 img {
    padding: 10px;
    width: 100%;
}

.elemt3 {
    width: 350px;
    grid-area: elemt3;

}


.elemt3 img {
    padding: 10px;
    width: 100%;
}

footer p{

    text-align: center;
    font-size: 19px;
    padding: 10px;
    background-color:  rgba(139, 98, 98, 0.15);


}