body {

    /* background-image: url(/img/gnu-debian-linux-logo-wallpaper.jpg); */
    color: rgb(218, 200, 173);
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(53, 51, 48);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nave_bar nave_bar nave_bar nave_bar nave_bar nave_bar nave_bar nave_bar nave_bar"
        "bando bando bando bando bando bando bando bando bando"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "footer footer footer footer footer footer footer footer footer";

}


/*bar de navigation  */
.nave_bar {
    grid-area: nave_bar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

ul {


    text-decoration: none;
    list-style: none;
}

.logo {
    width: 300px;
    display: flex;
    justify-items: center;
    justify-content: space-around;

}

.liens_nav {

    display: flex;
    justify-content: space-between;
    width: 700px;
    transition: transform 1s;

}

li {
    transition: transform 0.5s ease;

}

li:hover {

    transform: scale(1.1);
    text-shadow: 1px 1px 1px 1px darkgray;
    color: rgb(241, 231, 233);

}

.bando {

    grid-area: bando;


}

.bando {
    background-color: rgba(139, 98, 98, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    position: sticky;
    top: 10px;

}

.aside {


    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 50px;


}

.aside a {
    margin-right: 200px;
    padding: 10px;
    display: inline;
    text-decoration: none;
    list-style: none;
    color: rgb(218, 200, 173);




}

.aside a:hover {


    text-shadow: 1px 1px 1px 1px darkgray;
    color: rgb(241, 231, 233);
    background-color: rgba(139, 98, 98, 0.15);

}


.elem1 {
    grid-area: elem1;
    border: solid 1px black;
}

.elem2 {
    grid-area: elem2;
    border: solid 1px black;
}

.elemt3 {
    grid-area: elemt3;
    border: solid 1px black;
}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(139, 98, 98, 0.15);
    grid-area: footer;

}

/* les vignettes bulles */

.bule11 {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 3px;
    width: 400px;
    height: 300px;
}
.bule12 {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 3px;
    width: 400px;
    height: 300px;
}
.bule13 {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 3px;
    width: 400px;
    height: 300px;
}