/* typographie */


@font-face {
    font-family: 'advent_proregular';
    src: url('../font/adventpro-regular-webfont.woff2') format('woff2'),
         url('../font/adventpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {

    /* background-image: url(/img/gnu-debian-linux-logo-wallpaper.jpg); */
    color: rgb(218, 200, 173);
    font-family: 'advent_proregular', sans-serif;
    font-size: 18px;
    background-color: rgb(53, 51, 48);
    margin: 0px;
    padding: 0px; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nave_bar nave_bar nave_bar nave_bar nave_bar nave_bar nave_bar nave_bar nave_bar"
        "bando bando bando bando bando bando bando bando bando"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3" 
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3" 
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3"
        "aside aside aside elem1 elem1 elem2 elem2 elemt3 elemt3" 
        "footer footer footer footer footer footer footer footer footer";
        row-gap: 10px;
        column-gap: 10px; 

}


/*bar de navigation  */
.nave_bar {
    grid-area: nave_bar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 26px;


}

ul {


    text-decoration: none;
    list-style: none;
}

.logo {
    width: 300px;
    display: flex;
    justify-items: center;
    justify-content: space-around;

}

.liens_nav {

    display: flex;
    justify-content: space-between;
    width: 700px;
    transition: transform 0.2s;

}

li {
    transition: transform 0.2s ease;
    
}

li a{
    text-decoration: none;
    list-style: none;
    color: rgb(218, 200, 173);
}

li:hover {

    transform: scale(1.1);
    text-shadow: 2px 2px 2px 2px rgb(51, 48, 48);
    color: rgb(241, 231, 233);

}



.bando {
    grid-area: bando;
    background-color: rgba(139, 98, 98, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    position: sticky; 
    top: 0px;

}

.aside {

    
    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 30px;


}

.aside a {
    margin-right: 200px;
    padding: 10px;
    display: inline;
    text-decoration: none;
    list-style: none;
    color: rgb(218, 200, 173);




}

.aside a:hover {


    text-shadow: 1px 1px 1px 1px darkgray;
    color: rgb(241, 231, 233);
    background-color: rgba(139, 98, 98, 0.15);

}


.elem1 {
    width: 350px;
    grid-area: elem1;
    
}

.elem1 img{
    padding:10px;
    width: 100%;
}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(139, 98, 98, 0.15);
    grid-area: footer;

}

/* les vignettes bulles premiere colonne */
/* les vignettes bulles premiere colonne */
/* les vignettes bulles premiere colonne */

.bule11 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
      
}

.bule11 p {

    margin: 0px 20px;
    
}

.bule11 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule11:hover{

    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5); 
    
}

.bule12 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
    
}

.bule12 p {

    margin: 0px 20px;
    
}

.bule12 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule12:hover{
   
    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5);
}



/* les vignettes bulles deusieme colonne */
/* les vignettes bulles deusieme colonne */
/* les vignettes bulles deusieme colonne */

.elem2 {
    width: 350px;
    grid-area: elem2;
}


.elem2 img{
    padding:10px;
    width: 100%;
}



.bule21 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
    
}

.bule21 p {

    margin: 0px 20px;
    
}

.bule21 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule21 img{

padding: 10px;
}

.bule21:hover{
    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5);
}

.bule22 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
    
}

.bule22 p {

    margin: 0px 20px;
    
}

.bule22 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule22 img{

padding: 10px;
}

.bule22:hover{
    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5);
}

/* les vignettes bulles deusieme colonne */
/* les vignettes bulles deusieme colonne */
/* les vignettes bulles deusieme colonne */


.elemt3 {
    width: 350px;
    grid-area: elemt3;

}


.elemt3 img{
    padding:10px;
    width: 100%;
}

.bule31 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
    
}

.bule31 p {

    margin: 0px 20px;
    
}

.bule31 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule31 img{

padding: 10px;
}

.bule31:hover{
    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5);
}

.bule32 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
    
}

.bule32 p {

    margin: 0px 20px;
    
}

.bule32 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule32 img{

padding: 10px;
}

.bule32:hover{
    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5);
}
/* vignette de la page html/css */
/* vignette de la page html/css */
/* vignette de la page html/css */

.bule13 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
    
}

.bule13 p {

    margin: 0px 20px;
    
}

.bule13 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule13 img{

padding: 10px;
}

.bule13:hover{
    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5);
}

.bule23 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
    
}

.bule23 p {

    margin: 0px 20px;
    
}

.bule23 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule23 img{

padding: 10px;
}

.bule23:hover{
    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5);
}

.bule33 {

    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 450px;
    border: black;
    padding-bottom: 5%;
    margin: 10% 0%;
    
}

.bule33 p {

    margin: 0px 20px;
    
}

.bule33 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bule33 img{

padding: 10px;
}

.bule33:hover{
    box-shadow:15px 15px 15px 15px rgba(37, 36, 36, 0.5);
}